# Helios Observatory ownership
* @spearchucker667

/public/assets/ @spearchucker667
/screenshots/ @spearchucker667
/README.md @spearchucker667
/docs/ @spearchucker667
/src/data/ @spearchucker667
/.github/ @spearchucker667
